@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

:root {
    --color-copper: #D97838;
    --color-mud: #402617;
    --color-earth: #291F16;
    --color-coal: #040404;
    font-family: "Lusitana", serif;
    background-color: var(--color-earth);
    --faded-bg: var(--color-mud);
    --faded-fg: var(--color-earth);
}

main,
section,
div,
article {
    box-sizing: border-box;
}

data.die {
    display: inline-flex;
    width: 64px;
    height: 64px;
    cursor: pointer;
    color: var(--color-earth);
    white-space: pre;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

data.die.d4 {
    background: #CEA3A3;
    clip-path: path("M50.0395 45.5184L33.2545 16.4464C32.1545 14.5414 30.3545 14.5414 29.2545 16.4464L12.4695 45.5184C11.3695 47.4234 12.2695 48.9824 14.4695 48.9824H48.0385C50.2395 48.9824 51.1395 47.4234 50.0395 45.5184Z");
    padding-top: 8px;
}

data.die.d6 {
    background: #CEBAA3;
    clip-path: path("M47.5089 12H15.5089C13.3089 12 11.5089 13.8 11.5089 16V48C11.5089 50.2 13.3089 52 15.5089 52H47.5089C49.7089 52 51.5089 50.2 51.5089 48V16C51.5089 13.8 49.7089 12 47.5089 12Z");
    font-size: 24px;
}

data.die.d8 {
    background: #BBCEA3;
    clip-path: path("M36.0115 55.1587C33.9585 55.9497 30.5985 55.9497 28.5455 55.1587L15.2265 50.0327C13.1735 49.2417 13.2935 48.5957 15.4935 48.5957H49.0625C51.2625 48.5957 51.3825 49.2417 49.3295 50.0327L36.0115 55.1587Z M10.8215 24.5358C11.1635 22.3628 12.8435 19.4528 14.5545 18.0698L25.6525 9.09775C27.3635 7.71475 27.8635 8.14175 26.7635 10.0477L9.98047 39.1208C8.88047 41.0258 8.26047 40.8067 8.60347 38.6337L10.8215 24.5358Z M49.9365 18.0288C51.6475 19.4118 53.3285 22.3208 53.6705 24.4938L55.8925 38.5907C56.2345 40.7637 55.6145 40.9837 54.5145 39.0777L37.7255 10.0098C36.6255 8.10475 37.1245 7.67675 38.8365 9.05975L49.9365 18.0288Z M51.0635 41.1317L34.2785 12.0598C33.1785 10.1548 31.3785 10.1548 30.2785 12.0598L13.4935 41.1317C12.3935 43.0367 13.2935 44.5957 15.4935 44.5957H49.0625C51.2635 44.5957 52.1635 43.0367 51.0635 41.1317Z");
}

data.die.d10 {
    background: #A3CEB2;
    clip-path: path("M9.97314 36.889C11.0731 35.8228 12.7781 33.39 13.7621 31.4826L26.1841 7.40299C27.1681 5.49555 26.8211 5.27553 25.4131 6.91353L10.5341 24.2182C9.12515 25.8562 7.97314 28.9412 7.97314 31.0735V34.9505C7.97314 37.0828 8.87314 37.9551 9.97314 36.889Z M29.7621 53.9261C28.7781 52.0186 26.7001 49.2244 25.1451 47.7172L18.8011 41.5694C17.2451 40.0612 14.3271 39.5359 12.3171 40.4005L10.6211 41.1313C8.61015 41.9968 8.48115 43.6445 10.3341 44.794L28.6051 56.1224C30.4581 57.2719 31.1691 56.6516 30.1851 54.7441L29.7621 53.9261Z M44.7731 37.2766C46.5331 35.9973 47.1691 33.39 46.1841 31.4826L33.7621 7.40299C32.7781 5.49555 31.1681 5.49555 30.1841 7.40299L17.7621 31.4826C16.7781 33.39 17.4131 35.9973 19.1731 37.2766L28.7731 44.2551C30.5331 45.5345 33.4141 45.5345 35.1731 44.2551L44.7731 37.2766Z M53.4121 24.2182L38.5341 6.91353C37.1261 5.27553 36.7781 5.49555 37.7631 7.40299L50.1852 31.4835C51.1682 33.39 52.8731 35.8228 53.9731 36.889C55.0731 37.9551 55.9731 37.0828 55.9731 34.9505V31.0735C55.9731 28.9412 54.8211 25.8562 53.4121 24.2182Z M53.3261 41.1313L51.6301 40.4005C49.6191 39.535 46.7011 40.0612 45.1461 41.5694L38.8021 47.7172C37.2461 49.2253 35.1691 52.0186 34.1851 53.9261L33.7631 54.7451C32.7791 56.6525 33.4911 57.2719 35.3431 56.1233L53.6131 44.794C55.4651 43.6445 55.3361 41.9968 53.3261 41.1313Z");
}

data.die.faded {
    background-color: var(--faded-bg);
    color: var(--faded-fg);
}

.raised {
    background-color: var(--color-mud);
    --faded-bg: var(--color-earth);
    --faded-fg: var(--color-mud);
}

button {
    background-color: var(--color-mud);
    color: var(--color-copper);
    border: 2px solid var(--color-coal);
    border-radius: 32px;

    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    padding: 16px 32px;
    height: 64px;
    width: fit-content;

    appearance: none;
}

section.pool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 16px;
    border-radius: 32px;
    gap: 16px;
    width: fit-content;
    min-width: 192px;
}

section.pool.raised:first-child {
    border-radius: 0;
    align-self: stretch;
    width: 100%;
    margin-bottom: -16px;
}

section.pool h3 {
    color: var(--color-copper);
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
}

section.pile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

section.pile#their-dice {
    flex-wrap: wrap-reverse;
}

main {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    width: 100vw;
    min-height: 100vh;
    gap: 16px;
    padding: 16px 0;
}

#setup section.pool:first-child div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#setup section.dice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 16px;
    flex-grow: 1;
}

#setup section.dice>div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 64px;
}